mat-card{
	padding-block: 10px;
}
.mat-mdc-card img {	
	transform: scale(0.9);
	padding-bottom: 10px;
  }
/**
  .mat-mdc-card img:hover {	
	transform: scale(1.0);
	margin: 10px;
	padding-bottom: 10px;
  }
*/

.mat-mdc-form-field {
	width: 100%;
}
.mat-mdc-form-field-error {
	display: block;
	color: var(--mat-form-field-error-text-color);
	font-size: 0.65rem;
	padding-bottom: 10px;
  }

.mat-mdc-card-actions {
	flex-direction: column;
	align-items: end;
}
mat-button{
	color: white;
}


