<h1 mat-dialog-title>Voulez-vous modifier ce Departement : {{departement.libelle}} </h1>
<div mat-dialog-content>
  <br>
  <mat-form-field class="input">
    <mat-label>Nouveau Nom</mat-label>
    <input matInput [(ngModel)]="departement.libelle">
  </mat-form-field>
</div>
<div mat-dialog-actions  style="display: flex;justify-content: space-between;">
  <button mat-raised-button color="primary" (click)="onNoClick()">Non merci</button>
  <button mat-raised-button color="accent" (click)="editer(departement)" cdkFocusInitial>Editer le département</button>
</div>
